<ul class="nav nav-pills nav-stacked">
	<li><a href="{{ "/getting-started.html" | prepend:site.baseurl }}">Getting started</a></li>
</ul>
<p><a href="https://github.com/eowise/recyclerview-stickyheaders" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>
<p><script id='fbiukud'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=eowise&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbiukud');</script></p>